<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body>
<section>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
</section>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        Role-specific content will be inserted here
        {% endblock %}
    </main>

    <!-- <footer>
        <p>&copy; 2024 Eggit</p>
    </footer> -->
</body>
</html>
