<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    {% include 'navbar.html' with context %}
    <section>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </section>

    <main>
      {% block content %} Role-specific content will be inserted here {%
      endblock %}
    </main>

    <!-- <footer>
        <p>&copy; 2024 Eggit</p>
    </footer> -->
  </body>
</html>
