<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}\

    <main>
      <h1>
        Welcome, {{ user.name }} (Registration Number: {{
        user.registration_number }})
      </h1>
    </main>
  </body>
</html>
