{% extends 'base.html' %} {% block title %} Profile Page {% endblock %} {% block
content %}
<div class="heading">
  <h1 class="display-1">
    Hello
    <span class="text-muted">@{{user.name}}</span>
  </h1>
</div>

<!-- form to change password and name -->
<span class="text-muted"
  >Login Id: {{user.registration_number}}</span
>
<form action="" method="post" class="form">
  <div class="form-group">
    <label for="name" class="form-label">Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      value="{{user.name}}"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="current_password" class="form-label">Current Password</label>
    <input
      type="password"
      name="current_password"
      id="current_password"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="new_password" class="form-label">New Password:</label>
    <input
      type="password"
      name="new_password"
      id="new_password"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="confirm_password" class="form-label"
      >Confirm New Password:</label
    >
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      value="{{user.email}}"
      class="form-control"
    />
  </div>
  <div class="buttons d-flex justify-content-center align-items-center">
    <div class="form-group m-3">
      <input type="submit" value="Update" class="btn btn-primary" />
    </div>
  </div>
</form>

{% endblock %} {% block style %}

{% endblock %}
